alias awsp="_awsSwitchProfile"
alias c="cd ~/code/"
alias dcmp="docker-compose "
alias ddev="docker-compose -f dev.yml"
alias g="git"
alias k="kubectl "
alias kctx="kubectx "
alias kens="kubens "
alias l="ls -la"
alias ta="tmux -2 attach -t "
alias tm="tmux -2"
alias v="nvim"
alias vim="nvim"
alias passcp="cat ~/code/pass.md | pbcopy"
