alias dcomp="docker-compose "
alias ddev="docker-compose -f dev.yml"
alias djm="dcomp -f dev.yml run --rm django python3 src/manage.py "
alias gall="git add -A"
alias gcb="git checkout -b"
alias diff="git diff"
alias gcmt="git commit -v"
alias gco="git checkout"
alias glog="git log --color --graph"
alias p="cd ~/Projects/"
alias pull="git pull"
alias push="git push origin"
alias serve="dcomp -f dev.yml run --rm --service-ports django"
alias ssh_public="cat ~/.ssh/id_rsa.pub"
alias st="git status --porcelain"
alias ta="tmux -2 attach -t "
alias tm="tmux -2"
alias v="vim "

alias docker-bench-security="docker run -it --net host --pid host --cap-add audit_control \
    -e DOCKER_CONTENT_TRUST=$DOCKER_CONTENT_TRUST \
    -v /var/lib:/var/lib \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -v /usr/lib/systemd:/usr/lib/systemd \
    -v /etc:/etc --label docker_bench_security \
    docker/docker-bench-security"
