alias awsall="_awsListAll"
alias awsp="_awsSwitchProfile"
alias awswho="aws configure list"
alias build="cd . && ddev build && pip install -r requirements.txt"
alias dcomp="docker-compose "
alias ddev="docker-compose -f dev.yml"
alias g="git"
alias manage="dcomp -f dev.yml run --rm django python3 src/manage.py "
alias p="cd ~/Projects/"
alias pg="cd ~/Projects/github/"
alias pm="cd ~/Projects/merix/"
alias serve="dcomp -f dev.yml run --rm --service-ports django "
alias ta="tmux -2 attach -t "
alias tm="tmux -2"
alias v="nvim"
alias kctl="kubectl"
alias mysql56="docker run --name mysql -e MYSQL_ROOT_PASSWORD=admin1234 -p 3306:3306 mysql:5.6"
alias mysql57="docker run --name mysql -e MYSQL_ROOT_PASSWORD=admin1234 -p 3306:3306 mysql:5.7"
alias mysql80="docker run --name mysql -e MYSQL_ROOT_PASSWORD=admin1234 -p 3306:3306 mysql:8.0"
alias kill-mysql="docker rm --force mysql"
alias postgres96="docker run --name postgres -p 5432:5432 postgres:9.6"
alias postgres10="docker run --name postgres -p 5432:5432 postgres:10.0"
alias kill-postgres="docker rm --force postgres"
