[user]
  name = Mateusz Kamycki
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
	excludesfile = ~/.gitignore_global
  editor = nvim
[commit]
  ; gpgsign = true
[push]
  default = current
[merge]
  ff = only
[help]
  autocorrect = 1
[alias]
  st = status --porcelain
  all = add -A
  bdel = branch --delete
  bls = branch -a
  cb = checkout -b
  cmt = commit -v
  co = checkout
  f = fetch
  rb = rebase
  lg = log --color --graph
  prunerb = remote update origin --prune
  pll = pull --rebase
