[user]
  name = Mateusz Kamycki
  email = mateusz.kamycki@gmail.com
  signingkey = 0CE0DF42C6718E2B
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[core]
	excludesfile = /Users/mkamycki/.gitignore_global
  editor = nvim
[github]
  user = toffi9
[commit]
  gpgsign = true
[push]
  default = current
[merge]
  ff = only
[help]
  autocorrect = 1
[alias]
  st = status --porcelain
  all = add -A
  bdel = branch --delete
  bls = branch -a
  cb = checkout -b
  cmt = commit -v
  co = checkout
  f = fetch
  rb = rebase
  lg = log --color --graph
  prunerb = remote update origin --prune
  pll = pull --rebase
