snippet utf8 "utf 8 header" b
# -*- coding: utf-8 -*-
$0
endsnippet

snippet if "If" b
if ${1:condition}:
	${2:${VISUAL:pass}}
endsnippet

snippet def "function" b
def ${1:name}(${2:args}):
    ${3:body}
endsnippet

snippet ife "If / Else" b
if ${1:condition}:
	${2:${VISUAL:pass}}
else:
	${3:pass}
endsnippet

snippet todo "TODO statement" b
# TODO: ${1:statement} (Author: Mateusz Kamycki @toffi9)
endsnippet
