snippet h2 "Making easy header number 2" b
## 
endsnippet

snippet h3 "Making easy header number 3" b
### 
endsnippet

snippet h4 "Making easy header number 4" b
#### 
endsnippet

snippet h5 "Making easy header number 5" b
##### 
endsnippet 

# snippet py "Make python code block" b
# ```
# $0
# ```
# endsnippet

snippet link "Link snippet" b
[${1:desc}](${2:href})
endsnippet
